.about
{
    color: white;
    background-color: black;
    text-align: center;
}
.skills
{
    color: white;
    background-color: black;
    text-align: center;
}
.projects
{
    color: white;
    background-color: black;
    text-align: center;
}
.contact
{
    color: white;
    background-color: black;
    text-align: center;
}