head
{
    background-color: black;
    color: white;
    text-align: center;
}
body
{
    background-color: black;
    color: white;
}
.inline-text 
{
  display: inline-block;
  margin-right: 10px;
}
.about
{
    color: white;
    background-color: black;
    text-align: center;
}
.skills
{
    color: white;
    background-color: black;
    text-align: center;
}
.projects
{
    color: white;
    background-color: black;
    text-align: center;
    vertical-align: middle;
}
.project
{
    background: black;
    text-align: center;
    vertical-align: middle;
}
.contact
{
    color: white;
    background-color: black;
    text-align: center;
}
